{% extends 'account/base.html' %}
{% load django_bootstrap5 %}

{% block no_sidebar_content %}
<div class="container">
    <h2 class="text_center space_top">パスワードの変更ができます</h2>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_button button_type="submit" content="パスワードを変更する" %}
    </form>
    <a href="{% url 'home' %}" id="space_top" class="btn btn-md btn-info space_top" type="submit">ホームに戻る</a></button>
</div>
{% endblock no_sidebar_content %}