{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block header %}
{% endblock header %}

{% block content %}
<div class="container">
  <h1 class="h3 mb-3 fw-normal">ログインしてください</h1>
  <form class="form-signin" method='post'>
    {% csrf_token %} 
    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name='email_data' required autofocus>
      <label for="floatingInput">メールアドレス</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name='password_data' required>
      <label for="floatingPassword">パスワード</label>
    </div>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">ログインする</button>
    <a href="{% url 'reset_password' %}"button type= "button" class ="btn btn-secondary btn-sm" type="submit">パスワードを忘れちゃった！！</a></button>
  </form>
</div>
{% endblock content %}