{% extends 'account/base_signup.html' %}
{% load django_bootstrap5 %}


{% block no_sidebar_content %}
<div class="container">
  <h2 class="text_center space_top">新規ユーザー登録</h2>
    <form class="form-signin" method='post' novalidate>
      {% csrf_token %}
      {% bootstrap_form form %} 
      {% bootstrap_button button_type="submit" content="登録する" %}
    </form>
    <a href="{% url 'top' %}" class="w-100 btn btn-md btn-primary space_top" type="submit">トップに戻る</a>
    <p>{{ message }}</p>
</div>
{% endblock no_sidebar_content %}