{% extends 'account/base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block header %}{% endblock header %}

{% block content %}
<div class="container">
  <h1 class="h3 mb-3 fw-normal">ログイン中のユーザー情報です</h1><br>
  <form action="", method = "get">
  <ul>
  <li>名前：{{ user_information.last_name }}　{{ user_information.first_name }}</li>
  <li>フリガナ：{{ user_information.last_kana }}　{{ user_information.first_kana }}</li>
  <li>登録メールアドレス：{{ request.user }}(ユーザーID)</li>
  </ul>

  <table class="table">
    <thead>
      <th>郵便番号：</th>
      <th>住所：</th>
      <th>電話番号：</th>
      <th>性別：</th>
      <th>生年月日</th>
    </thead>
    <tbody>
      <td>{{ user_information.zip_code }}</td>
      <td>{{ user_information.get_region_name_display }} {{ user_information.city_name }}  {{ user_information.street_name }} {{ user_information.building_name }}</td>
      <td>{{ user_information.tel }}</td>
      <td>{{ user_information.get_gender_display }}</td>
      <td>{{ user_information.date_of_birth |  date:"Y年m月d日(D)" }}</td>
    </tbody>
</table>
  </ul>
  </form>
  <a href="{% url 'user_update' request.user.pk %}" id="space_bottom" button class="btn btn-md btn-primary" type="submit">ユーザー情報更新</a>
  <a href="{% url 'change_password' request.user.pk %}" id="space_bottom" button class="btn btn-md btn-primary" type="submit">パスワードを変更する</a>
  <a href="{% url 'home' %}" id="space_bottom" button class="w-100 btn btn-lg btn-primary" type="submit">ホームに戻る</a>
<p>{{ message }}</p>
</div>
{% endblock content %}

