{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block header %}
<div class = "container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <h2><a class="navbar-brand" href="#">YourTansuu2</a></h2>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
                <h5><a class="nav-link" href="{% url 'home' %}">トップに戻る</a></h5>
            </li>
            <li class="nav-item">
              <h5><a class="nav-link" href="#">お問合わせ</a></h5>
            </li>
          </ul>
        </div>
      </div>
  </nav>
  </div>
{% endblock header %}

{% block content %}
<div class="container">
  <h1 class="h3 mb-3 fw-normal">ログインしてください</h1>
<form class="form-signin" method='post'>
  {% csrf_token %} 
<div class="form-floating">
  <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name='email_data' required autofocus>
  <label for="floatingInput">メールアドレス</label>
</div>
<div class="form-floating">
  <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name='password_data' required>
  <label for="floatingPassword">パスワード</label>
</div>
<div class="checkbox mb-3">
  <label>
    <input type="checkbox" value="remember-me"> Remember me
  </label>
</div>
<button class="w-100 btn btn-lg btn-primary" type="submit">ログインする</button>
<a href="{% url 'reset_password' %}"button type= "button" class ="btn btn-secondary btn-sm" type="submit">パスワードを忘れちゃった！！</a></button>
</form>
<p class="mt-5 mb-3 text-muted">&copy; 2017–2021, Sugasawa</p>
</div>
{% endblock content %}