@charset "utf-8";

html {
	font-family: 'Open Sans', sans-serif;
  font-family: 'Noto Serif JP', serif;
    
}

main {
  background-color: white;
}

main .h2 {
  color: red;
}

main .space_top {
  margin-top: 7px;
}

main .space_bottom {
  margin-bottom: 7px;
}

main .text_center {
  text-align: center;
}

main .border_solid {
  border: 1px solid black;

}

main .font_confirm {
  font-size: 20px;
  font-weight: bold; 
}

main .remark {
  color: red;
}

main .underline {
  font-size: 23px;
  color: orange;
  text-decoration: underline;
  margin-bottom: 13px;
}


.wrapping {
  display:flex;
}

 .side {
   border-right: grey;
   width:20%;
   text-align:center;
 } 
 
 .content {
   width:80%;
   text-align:center;
 }
 
 article {
   display:flex;
 }
 