@charset "utf-8";

main {
    padding: px;
    margin: 2px;
}

h1 {
    margin-top: 5px;
    margin-bottom: 5px;
}

h2 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.flex-container {
    background-color: #dfdfdf;
    display: flex;
}

.flex-item {
    margin: 10px auto;
    padding: 5px 10px;
    box-sizing: border-box;
    background-color: #343434;
    color: #fff;
}

.btn {
    margin-bottom: 10px;
}

