{% load static%}
{% load django_bootstrap5 %}

<!doctype html>
<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="{% static 'account-static/style.css' %}?20210904" rel="stylesheet">

    <title>Yourtansuu2</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
  </head>
  
  <body>
    <main>
      <div class="container">
        {% block navbar %}{% endblock navbar %}
        {% block no_sidebar_content %}{% endblock no_sidebar_content %}
        <div class="wrapping">
          <div class="side">
            {% block sidebar %}{% endblock sidebar %}
          </div>
        <div class="content">
          {% block content %}{% endblock content %}
        </div>
        </div>
      </div>
    </main>
    <footer style="text-align: center;">Masaru Sugasawa@2021</footer>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>
