{% extends 'account/base.html' %}
{% load static django_bootstrap5 %}


{% block no_sidebar_content %}
<div class="container">
    <header>
      <div class="text_center">
        <h1 class="display-4 fw-normal">YourTansuu2へようこそ</h1>
        <p class="fs-5 text-muted">あなたは自分のクローゼットの中身、把握していますか？</p>
        <p>ログイン中のユーザーは<a href="{% url 'user_information' request.user.pk %}">{{ request.user.last_name }}{{ request.user.first_name }}</a>さんです。</p>
      </div>
    </header>
</div>
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
  <div class="col-lg-3">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">クローゼットを作成</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <li>まずはここから!</li>
          <li>あなたのクローゼットを</li>
          <li>作りましょう。</li>
          <li>初めの一歩</li>
        </ul>
        <a href="{% url 'closet_create' %}"button class="w-100 btn btn-lg btn-primary" type="submit">クローゼットをつくる</a>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">クローゼット一覧を見る</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <li>作成したクローゼットを</li>
          <li>一覧で確認しよう!</li>
          <li></li><br>
          <li></li><br>
        </ul>
        <a href="{% url 'closet_list' %}"button class="w-100 btn btn-lg btn-primary" type="submit">クローゼット一覧を見る</a>
      </div>
    </div>
  </div> 
  <div class="col-lg-3">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">アイテムを登録する</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <li>クローゼットを作成したら</li>
          <li>アイテムを登録しましょう</li>
          <li>登録数が増えると</li>
          <li>管理がしやすくなります</li>
        </ul>
        <a href="{% url 'item_create' %}"button class="w-100 btn btn-lg btn-primary" type="submit">アパレルを登録する</a>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">アイテム一覧を見る</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <li>登録したアイテムを</li>
          <li>一覧で確認しよう!</li>
          <li>登録済のすべての</li>
          <li>アイテムを表示します</li>
        </ul>
        <a href="{% url 'item_list' %}"button class="w-100 btn btn-lg btn-primary" type="submit">アパレル一覧を見る</a>
      </div>
    </div>
  </div>
</div>

<header>
  <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1>季節・シーンごとにアイテムを見る</h1>
  </div>
</header>
<div class="container text_center">
  <div class="container px-1 py-1" id="featured-3">
    <div class="row g-2 py-2 row-cols-2 row-cols-lg-2" >
      <div class="feature col border_solid">
        <div class="feature-icon bg-primary bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"/></svg>
        </div>
          <h2>季節ごとのアイテム一覧</h2>
          <p>登録アイテムを季節ごとに一覧表示します。</p>
          <a href="{% url 'season_gate' %}"button class="btn btn-lg btn-primary" type="submit">季節を選ぶ</a>
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
      </div>
      <div class="feature col border_solid">
        <div class="feature-icon bg-primary bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"/></svg>
        </div>
            <h2>シーン別のアイテム一覧</h2>
            <p>シーンごとに登録アイテムを表示します。</p>
            <a href="{% url 'occasion_gate' %}"button class="btn btn-lg btn-primary" type="submit">シーンを選ぶ</a>
            <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
      </div>
    </div>
  </div>
</div>
<a href="{% url 'testview' %}"button class="btn btn-md btn-primary" type="submit">(作成中)HTMLテスト</a><br>
{% endblock no_sidebar_content %}