{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block header %}
{% endblock header %}


{% block content %}
<diV class="container">
<h1>Yourtansuu2はまだ工事中です</h1>

<a href="{% url 'signup' %}"button class="w-100 btn btn-lg btn-primary" type="submit">新規登録</a></button>
<a href="{% url 'original_login' %}"button class="w-100 btn btn-lg btn-primary" type="submit">ログインする</a></button>
<a href="{% url 'original_logout' %}"button class="w-100 btn btn-lg btn-primary" type="submit">ログアウトする</a></button>
<br\>
<br\>
<br\>
<br\>
<a href="{% url 'reset_password' %}"button class="w-100 btn btn-lg btn-primary" type="submit">パスワードを忘れちゃった！！</a></button>
</div>
</diV>
{% endblock content %}

