{% extends 'base.html' %}

{% block header %}
{% endblock header %}

{% block content %}
<div class="container">
<h1>Your Tansuu2はまだ準備中です</h1>


<a href="{% url 'userupdate' user_id %}"button class="w-100 btn btn-lg btn-primary" type="submit">ユーザー情報更新</a></button>
<a href="{% url 'home' %}"button class="w-100 btn btn-lg btn-primary" type="submit">トップに戻る</a></button>
<a href="{% url 'original_logout' %}"button class="w-100 btn btn-lg btn-primary" type="submit">ログアウト</a></button>

</div>

{% endblock content %}