{% extends 'contents/base_nosidebar.html' %}
{% load django_bootstrap5 %}

{% block no_sidebar_content %}
<div class="container">
{{ form.errors }}
<form action='' method='POST' enctype="multipart/form-data">
    <legend class="text_center space_top">クローゼット作成機能</legend>
    <div class="alert alert-success" style="text-align: center;">
        <p>クローゼットはアイテムを登録する"フォルダー"のことです</p>
        <p>クローゼット1つあたり、最大30件のアイテムを登録することが出来ます</p>
        <p>クローゼットの使用は任意です。作っても作らなくても構いません</p>
        <p>クローゼットが不要な方は、<a href="{% url 'item_create' %}" type="submit">アイテム新規登録</a>からアイテム登録へお進みください</p>
    </div>{% csrf_token %}
    {% bootstrap_form form %}
    {% bootstrap_button button_type="submit" content="クローゼット作成" %}
</form>
<a href="{% url 'home' %}" class="btn btn-md btn-info space_top" type="submit">ホームに戻る</a>
</div>
{% endblock no_sidebar_content %}