{% extends 'contents/base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block header %}{% endblock header %}


{% block content %}
<div class="container">
<h2>クローゼットを作成しました。</h2>
<img src = "{% static 'account-static/closet_complete.jpg' %}" width="70%" height="30%" margin = "40px">
<h4>どんどんアイテムを登録しましょう</h4>

<a href="{% url 'item_create' %}"button class="w-100 btn btn-lg btn-primary" type="submit">アイテムを登録する</a></button>
<a href="{% url 'home' %}"button class="w-100 btn btn-lg btn-primary" type="submit">ホームに戻る</a></button>
</div>
{% endblock content %}