{% extends 'contents/base.html' %}
{% load django_bootstrap5 %}

{% block header %}
{% endblock header%}

{% block content %}
{{ block.super }}
<div class = "container">
<h1 id="text_center">入力内容確認</h1>
<table class="table">
    <tr>
        <th>アイテム種類：</th>
        <td>{{ form.instance.get_item_type_display }}</td>
    </tr>
    <tr>
        <th>季節：</th>
        <td>{{ form.instance.get_season_display }}</td>
    </tr>
    <tr>
        <th>シーン：</th>
        <td>{{ form.instance.get_occasion_display }}</td>
    </tr>
    <tr>
        <th>アイテム名称：</th>
        <td>{{ form.item_name.value }}</td>
    </tr>
    <tr>
        <th>アイテム色：</th>
        <td>{{ form.instance.get_item_color_display }}</td>
    </tr>
    <tr>
        <th>アイテムブランド：</th>
        <td>{{ form.item_brand.value }}</td>
    </tr>
    <tr>
        <th>購入日：</th>
        <td>{{ form.purchase_date.value }}</td>
    </tr>
    <tr>
        <th>購入価格：</th>
        <td>{{ form.pricing.value }}円</td>
    </tr>
    <tr>
        <th>アイテム画像：</th>
        <td>
            <img src="{{ item_image_base64 }}" style="max-width: 300px;" /> <br />
            {{ form.item_image.value }}
        </td>
    </tr>
    <tr>
        <th>メモ：</th>
        <td>{{ form.memo.value }}</td>
    </tr>
    <tr>
        <th>お気に入り度：</th>
        <td>{{ form.instance.get_favorite_level_display }}</td>
    </tr>
    <tr>
        <th>大事さ：</th>
        <td>{{ form.instance.get_item_importance_display }}</td>
    </tr>
</table>
<form action = '.' method="post">
    {% csrf_token %}
    {% for field in form %}
    {{ field.as_hidden }}
    {% endfor %}
    <input type = 'hidden' name = 'action' value='complete'>
    <input type="hidden" name="item_image_base64" value="{{ item_image_base64 }}" />
<button class="btn btn-md btn-primary">登録する</button>
</form>
<form action = '.' method="post">
    {% csrf_token %}
    {% for field in form %}
    {{ field.as_hidden }}
    {% endfor %}
    <input type = 'hidden' name = 'action' value='input'>
<button class="w-100 btn btn-md btn-primary" id="space_top">入力に戻る</button>
</form>

</div>


{% endblock content %}