{% extends 'contents/base_nosidebar.html' %}
{% load django_bootstrap5 humanize custom_pagination %}

{% block no_sidebar_content %}
<div class="container">
  {% if form.errors %}
  <div class="alert alert-danger">
    <p>エラーが発生しました。</p>
    {% endif %}
    {% for field, error_list in form.errors.items %}
    <p>{{ error_list }}</p>{% endfor %}
  </div>
  <form action='' method='POST' enctype="multipart/form-data">
    <legend class="text_center space_top">アパレル登録機能</legend>{% csrf_token %}
    {% bootstrap_form form %}
    <input type = 'hidden' name = 'action' value = 'confirm'>
    <input type="hidden" id="id_item_image_base64" name="item_image_base64" />
    {% bootstrap_button button_type="submit" content="新規登録" %}
  </form>
  {% for field in form %}
  {{ field.item_name }}
  {% endfor %}

  <a href="{% url 'home' %}" class="btn btn-md btn-info space_top" type="submit">ホームに戻る</a></button>
</div>

<script>
  function upload_img() {
    const file = this.files[0];
    const reader = new FileReader();
    const item_image_base64 = document.getElementById('id_item_image_base64');

    reader.addEventListener("load", function () {
      item_image_base64.value = reader.result;
    }, false);

    if (file) {
      reader.readAsDataURL(file);
    }
  }
  document.getElementById('id_item_image').addEventListener("change", upload_img);
</script>
{% endblock no_sidebar_content %}