{% extends 'contents/base.html' %}
{% load django_bootstrap5 %}

{% block header %}
<div class = "container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <h2><a class="navbar-brand" href="#">YourTansuu2</a></h2>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                  <h5><a class="nav-link" href="{% url 'account_control' %}">アカウント情報</a></h5>
              </li>
              <li class="nav-item">
                <h5><a class="nav-link" href="#">お問合わせ</a></h5>
              </li>
              <li class="nav-item">
                <h5><a class="nav-link" href="{% url 'original_logout' %}">ログアウト</a></h5>
              </li>
              <li class="nav-item">
                <h5><a class="nav-link" href="{% url 'index' %}">ホームに戻る</a></h5>
              </li>
              <li class="nav-item">
                <h5><a class="nav-link" href="{% url 'home' %}">トップに戻る</a></h5>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    </div>
{% endblock header %}



{% block content %}
<div class="container">
<h1>アパレル情報詳細</h1>
<ul>
<li>アイテム種類：{{ object_item.get_item_type_display }}</li>
<li>季節：{{ object_item.get_season_display }}</li>
<li class="table-light">シーン：{{ object_item.get_occasion_display }}</li>
<li class="table-light">アイテム名称：{{ object_item.item_name }}</li>
<li class="table-light">アイテムカラー：{{ object_item.get_item_color_display }}</li>
<li class="table-light">ブランド：{{ object_item.item_brand }}</li>
<li class="table-light">購入日：{{ object_item.purchase_date }}</li>
<li class="table-light">購入価格：{{ object_item.pricing }}円</li>
<li>アイテム画像:<img src="{{ object_item.item_image.url }}" style="max-width: 300px;"/></li>
<li class="table-light">購入場所：{{ object_item.purchase_place }}</li>
<li class="">メモ：{{ object_item.memo }}</li>
<li class="table-light">お気に入り度：{{ object_item.get_favorite_level_display }}</li>
<li class="table-light">大事さ：{{ object_item.get_favorite_level_display }}</li>
</ul>
<a href="{% url 'item_list' %}"button class="btn btn-lg btn-primary" type="submit">リストに戻る</a></button>
<a href="{% url 'item_delete' object_item.pk %}"button class="btn btn-lg btn-primary" type="submit">削除する</a></button>
<a href="{% url 'item_update' object_item.pk %}"button class="btn btn-lg btn-primary" type="submit">編集する</a></button>
<a href="{% url 'index' %}"button class="w-100 btn btn-lg btn-primary" type="submit">ホームに戻る</a></button>
</div>
{% endblock content %}

<li class="table-light">アイテム画像：<img src ='{{ object_item.item_image.url }}' width=100></li>

