{% extends 'contents/base.html' %}
{% load django_bootstrap5 static humanize %}

{% block header %}{% endblock header %}



{% block content %}
<div class="container">
    <div style="text-align: center;">
        <h5 style="margin-top: 10px; margin-bottom: 30px;">アパレル情報詳細</h5>
        <div class="item-info" style="margin-bottom: 30px;">
            <h4>{{ object_item.item_name }}</h4>
        </div>
    </div>
    <table class="table table-sm">
        <thead>
            <tr>
                <th>アイテム種類：</th>
                <th>季節：</th>
                <th>シーン：</th>
                <th>アイテムカラー:</th>
                <th>ブランド：</th>
                <th>購入日：</th>
                <th>購入価格：</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ object_item.get_item_type_display }}</td>
                <td>{{ object_item.get_season_display }}</td>
                <td>{{ object_item.get_occasion_display }}</td>
                <td>{{ object_item.get_item_color_display }}</td>
                <td>{{ object_item.item_brand }}</td>
                <td>{{ object_item.purchase_date | date:"Y-m-d"}}</td>
                <td>{{ object_item.pricing | intcomma }}円</td>
            </tr>
        </tbody>
    </table>
    <div class="container">
        <div class="row">
            <div class="col">
                <figure class="figure">
                {% if object_item.item_image %}<img src="{{ object_item.item_image.url }}" class="figure-img img-fluid rounded" style="max-width: 300px;">
                {% elif not object_item.item_image %}<img src="{% static 'account-static/Blank_image.jpeg' %}" class="figure-img img-fluid rounded" style="max-width: 300px;">
                <p class="alert alert-warning">アイテム画像は<a href="{% url 'item_update' object_item.pk %}">アイテム編集</a>で追加できます</p>
                {% endif %}
                </figure>
            </div>
            <div class="col">
                <p>お気に入り度：{{ object_item.get_favorite_level_display }}</p>
                <p>重要度：{{ object_item.get_item_importance_display }}</p>
                <p>購入後経過時間：{{ object_item.aging_date.days | intcomma  }}日</p>
                {% if object_item.aging_date.days >= 730 %}
                <p class="alert alert-warning">このアイテムは購入後2年以上経過しています！</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container">
        <p>メモ：{{ object_item.memo }}</p>
    </div>
    
    <div style="text-align: center;">
        <a href="{% url 'item_list' %}"button class="btn btn-md btn-primary" type="submit">リストに戻る</a></button>
        <a href="{% url 'item_delete' object_item.pk %}"button class="btn btn-md btn-primary" type="submit">削除する</a></button>
        <a href="{% url 'item_update' object_item.pk %}"button class="btn btn-md btn-primary" type="submit">編集する</a></button>
    </div>
</div>
{% endblock content %}

<li class="table-light">アイテム画像：<img src ='{{ object_item.item_image.url }}' width=100></li>
