{% extends 'contents/base.html' %}
{% load django_bootstrap5 humanize custom_pagination %}

{% block content %}
<div class="container">
  <legend class="text_center space_bottom">登録アイテム一覧</legend>
  <div class="container" style="margin-bottom: 30px;">
    <h7>登録アイテム総数：{{ paginator.count }}件</h7><br>
    <h7>今日は{{ today | date:"Y年m月d日(D)" }}です</h7>
  </div>
   
  <div class="container">
    <h5 class="space_bottom">一覧を並べ替える</h5>
    <form method="GET">{% csrf_token %}
    <div class="row">
      <div class= "col">
        <div style="display:inline-flex">
          <label>アイテム名検索：{{ search_form.input_form }}</label>
          <p><button class="btn-sm btn-primary" type="submit">実行する</button></p>
        </div>
      </div>
      <div class="col">
        <div style="display:inline-flex">
        <label>リスト並べ替え：{{ search_form.sort_form }}</label>
        <p><button class="btn-sm btn-primary" type="submit">実行する</button></p>
        </div>
      </div>
    </form>
  </div>

  {% if page_object %}
  <div class="container">
    <div style="text-align: right;">
      <span><a href="{% url 'item_list' %}" class="btn btn-md btn-primary">リストを元に戻す</a></span>
    </div>
    
    <table class="table table-lg">
      <thead>
        <tr>
          <th>No.</th>
          <th>アイテム名称</th>
          <th>種類</th>
          <th>シーン</th>
          <th>カラー</th>
          <th>購入日</th>
          <th>購入価格</th>
          <th>経過時間</th>
          <th>詳細情報</th>
          <th>クローゼット変更</th>
        </tr>
      </thead>
      <tbody>
        {% for item in page_object %}
        <tr>
          <td>{{ forloop.counter0 | add:page_object.start_index }}</td>
          <td>{{ item.item_name}}</td>
          <td>{{ item.get_item_type_display }}</td>
          <td>{{ item.get_occasion_display }}</td>
          <td>{{ item.get_item_color_display}}</td>
          <td>{{ item.purchase_date| date:"Y年m月d日(D)" }}</td>
          <td>{{ item.pricing | intcomma }}円</td>
          <td>{{ item.aging_date.days | intcomma }}日経過</td>
          <td><a href="{% url 'item_detail' item.pk %}"button class="btn btn-sm btn-primary" type="submit">詳細へ</a></td>
          {#<td>{{ item.closet }}</td>#}
          <td>
            <select class="closet_location" item_id = "{{ item.pk }}">
              {% for closet in closet_list %}
              <option value="{{ closet.id }}" {% if item.closet.id == closet.id %}selected{% endif %}>{{ closet.closet_name }}</option>
              {% endfor %}
            </select>
          </td>
        </tr>
        {% endfor %}
      </tbody>
      {% else %}
      <p>まだアイテムが登録されていません</p>
      {% endif %}
    </table>
  </div>

  <div class="pagination">
      <span class="step-links">
          {% if page_object.has_previous %}
              <a href="?{% url_replace request 'page' 1 %}">&laquo; 1ページ目に戻る</a>
              <a href="?{% url_replace request 'page' page_object.previous_page_number %}">前のページ</a>
          {% endif %}

          <span class="current">
              ページ {{ page_object.number }} / {{ page_object.paginator.num_pages }}.
          </span>

          {% if page_object.has_next %}
              <a href="?{% url_replace request 'page' page_object.next_page_number %}">次のページ</a>
              <a href="?{% url_replace request 'page' page_object.paginator.num_pages %}">最後のページ &raquo;</a>
          {% endif %}
      </span>
  </div>
</div>
{% endblock content %}



<script>
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    const selects = document.querySelectorAll('.closet_location');
    selects.forEach(el => el.addEventListener('change', event => { 
      console.log(event.target.value);
      console.log(event.target.getAttribute('item_id'))

      const data = { item_id: event.target.getAttribute('item_id'), closet_id: event.target.value };

      fetch("{% url 'closet_change' %}", {
        method: 'POST', 
        headers: {
          'X-CSRFToken': csrftoken,
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
      })
      .then(response => response.json())
      .then(data => {
        console.log('Success:', data);
      })
      .catch((error) => {
        console.error('Error:', error);
      });

    }));

    const btn = document.getElementById('main').addEventListener(
      'click', function() {
            this.style.backgroundColor="red";
        });
</script>
