{% extends 'contents/base.html' %}
{% load django_bootstrap5 %}

{% block no_sidebar_content %}
<div class="container">
        <h2 class="text_center space_top">アイテム登録成功</h1>
        <h5 class="text_center space_top">リストに登録しました！</h5>
        <div class="text_center space_top">
            <a href="{% url 'item_list' %}" class="w-33 btn btn-md btn-primary" type="submit">一覧で確認する</a>
            <a href="{% url 'item_create' %}" class="w-33 btn btn-md btn-primary" type="submit">続けて次のアイテムを登録する</a>
            <a href="{% url 'home' %}" class="w-33 btn btn-md btn-info" type="submit">ホームに戻る</a>
        </div>
    </div>
</div>
{% endblock no_sidebar_content %}