{% extends 'contents/base.html' %}
{% load django_bootstrap5 static %}


{% block content %}
<div class="container" style="margin: 30px auto;">
    <div class="row">
        
        <div class="col-lg-4" style="text-align: center">
            <img class="bd-placeholder-img rounded-circle" src = "{% static 'account-static/daily_use.png' %}" width="150" height="150" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em"></text></svg>
            <form action="{% url 'occasion_list_home' 'daily_use' %}" method="GET">
                <h2><input type="hidden" name="occasion" value="daily_use">普段着</h2>
                <p>普段着の一覧を表示します</p>
                <p><input type="submit"　button class="btn btn-lg btn-primary" value="普段着の一覧へ">
            </form>
        </div>
        
        <div class="col-lg-4" style="text-align: center">
            <img class="bd-placeholder-img rounded-circle" src = "{% static 'account-static/work_wear.png' %}" width="150" height="150" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em"></text></svg>
            <form action="{% url 'occasion_list_home' 'work_wear' %}" method="GET">
                <h2><input type="hidden" name="occasion" value="work_wear">仕事着</h2>
                <p>仕事着の一覧を表示します</p>
                <p><input type="submit"　button class="btn btn-lg btn-primary" value="仕事着の一覧へ">
            </form>
        </div>
        
        <div class="col-lg-4" style="text-align: center">
            <img class="bd-placeholder-img rounded-circle" src = "{% static 'account-static/active_wear.png' %}" width="150" height="150" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em"></text></svg>
            <form action="{% url 'occasion_list_home' 'active_wear' %}" method="GET">
                <h2><input type="hidden" name="occasion" value="active_wear">よそ行き</h2>
                <p>よそ行きの服の一覧を表示します</p>
                <p><input type="submit"　button class="btn btn-lg btn-primary" value="よそ行きの服の一覧へ">
                </form>
            </div>

        <div class="col-lg-4" style="text-align: center">
            <img class="bd-placeholder-img rounded-circle" src = "{% static 'account-static/sports_wear.png' %}" width="150" height="150" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em"></text></svg>
            <form action="{% url 'occasion_list_home' 'sports_wear' %}" method="GET">
                <h2><input type="hidden" name="occasion" value="sports_wear">スポーツウェア</h2>
                <p>スポーツウェアの一覧を表示します</p>
                <p><input type="submit"　button class="btn btn-lg btn-primary" value="スポーツウェアの一覧へ">
            </form>
        </div>

        <div class="col-lg-4" style="text-align: center">
            <img class="bd-placeholder-img rounded-circle" src = "{% static 'account-static/others.png' %}" width="150" height="150" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em"></text></svg>
            <form action="{% url 'occasion_list_home' 'other_use' %}" method="GET">
                <h2><input type="hidden" name="occasion" value="other_use">その他</h2>
                <p>その他を表示します</p>
                <p><input type="submit"　button class="btn btn-lg btn-primary" value="その他へ">
            </form>
        </div>

    </div>
</div>
{% endblock content %}
